

p {
  color:red;
}
.text{
  margin-top:600px;
}


.service1{
  float:left;
    margin-top:600px;
}
.service2{
  float:left;
  margin-top:600px;
}

.contact{
  display:block;
  margin-top:100px;
  margin-left:20px;
  width:100px;
  height:100px;
  float:left;
}
.home{
  width:100px;
  height:100px;
  display:block;
  margin-top:100px;
  margin-left:20px;
  float:left;
}
.s1{
  width:150px;
  height:100px;
  display:block;
  margin-top:100px;
  margin-left:20px;
  float:left;
  border-radius:5%;
}
.s2{
  width:150px;
  height:100px;
  display:block;
  margin-top:100px;
  margin-left:20px;
  float:left;
  border-radius:5%;
  
}



#homeImg{
  width:500px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
#home1{
  color:red;
  text-align: center;
  font-size:40px;
}
#home2{
  color:pink;
  text-align: center;
 
}
#home3{
  color:blue;
  text-align: center;
}

#c1{
  color:purple;
  text-align: center;
  font-size:30px;
}
#c2{
  color:black;
  text-align: center;
}
#c3{
  color:brown;
  text-align: center;
}
#ig{
  width:100px;
  height:100px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#s1garden{
  width:600px;
  height:300px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}
#s11{
  color:green;
  text-align: center;
  
}
#s12{
  color:indigo;
  text-align: center;
  font-size:30px;
}
#s13{
  color:#ff00bf;
  text-align: center;
}

#f1{
  width:200px;
  height:300px;
  display:block;
  float:left;
  margin-left:150px;
}
#f2{
  width:300px;
  height:300px;
  display:block;
  float:left;
  margin-left:200px;
}
#f3{
  width:300px;
  height:300px;
  display:block;
  float:left;
  margin-left:200px;
}

#fence{
  width:500px;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#s21{
  color:#456789;
  text-align: center;
  font-size:50px;
}
#s22{
  color:#abcdef;
  text-align: center;
  font-size:20px;
  
}

#s23{
  color:#abcabc;
  text-align: center;
  font-size:20px;
}
